.timer {
  margin: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

&__image {
  width: 67px;
  height: 48px;
}

&__text-time {
    color:  #21201f;
    font-family: 'Unbounded';
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin: 8px 0 0;
    width: 90px;
    text-align: center;
  }
}