@import url('../Results/Results.css');
@import url('../Popup/Popup.css');

.page {
  max-width: 1440px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-image: url("../../images/line.svg");
  background-size: cover;
}