.content {
  width: 100%;
  box-sizing: border-box;
  padding: 96px 0 64px;
  // border: 1px solid red;

  .content__box {
    margin: 0 auto 376px;
  }

  .content__title {
    color: var(--text-black, #21201f);
    text-align: center;
    font-family: "Unbounded";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto 32px;
    max-width: 500px;
  }

  .content__container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;

    .content__card {
      width: 260px;
      height: 160px;
      padding: 0;
      margin: 0;
      border-radius: 20px;
      border: 1px solid var(--text-black, #21201f);
      background: var(--white, #fff);
      box-shadow: 0px 6px 0px 0px #1f2021;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--text-black, #21201f);
      align-items: center;
      font-family: "Unbounded";

    }

    .content__text {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      width: 220px;
    }
  }
}
