.header {
  box-sizing: border-box;
  padding: 32px 60px 24px;
  display: flex;
  justify-content: space-between;
align-items: center;

  .header__history {
    opacity: 0;
    width: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .header__history-image {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    .header__text {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
    }

    .header__text.hover {
      background-image: linear-gradient(90deg, rgba(131, 65, 239, 1) 0%, rgba(63, 104, 249, 1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
    }
  }

  .header__logo {
    width: 224px;
    height: 48px;
  }
}

@media screen and (max-width: 874px) {
  .header {
    padding: 16px;

    .header__history {
      max-width: 80px;

      .header__text {
        display: none;
      }
    }

    .header__logo {
      width: 149px;
      height: 31.929px;
    }
  }
}
